body{
    font-family: 'Monteserrat', sans-serif;
    background-color: #eee;
}

/*Navbar*/
.sidebar{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url(../images/sunset.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px #999;
}

.navbar-brand img{
    height: 3.5rem;
    width: 3.5rem;
}

.bottom-border{
    border-bottom: 1px groove #eee;
}

.user{
    color: white;
    text-decoration: none;
}

.user:hover{
    text-decoration: none;
    color: whitesmoke;
}

.sidebar-link{
    transition: all .4s;
}

.sidebar-link:hover{
    background-color: #444;
    border-radius: 5px;
}

.current{
    background-color: #01a74f;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
    transition: all .4s;
}

.current:hover{
    background-color: #01d262;
    border-radius: 7px;
    box-shadow: 2px 5px 20px #111;
    transform: translateY(-1px);
}

.search-input{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid whitesmoke;
    transition: all .4s;
}

.search-input:focus{
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #01d262;
    color: whitesmoke;
}

.search-button{
    border-radius: 50%;
    padding: 10px 16px;
    transition: all .4s;
}

.search-button:hover{
    background-color: #444;
    transform: translateY(-2px);
}

.icon-parent{
    position: relative;
}

.icon-bullet::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 20px;
    height: 12px;
    width: 12px;
    background-color: #01d262;
    border-radius: 50%;
}

@media(max-width: 768px){
    .sidebar{
        position: static;
        height: auto;
    }
    
    .top-navbar{
        position: static;
    }
}

/*Cards*/
.card-common{
    box-shadow: 1px 2px 5px #999;
    transition: all .4s;
}

.card-common:hover{
    box-shadow: 2px 3px 16px #999;
    transform: translateY(-4px);
}

/*Events*/
.event{
    transition: all .4s;
}

.event:hover{
    transform: translateX(-4px);
}
.event-border{
    border-left: 5px solid #01d262;
}

/*Events*/
.events .heading-1{
    font-weight: 700;
}

.events a{
    border-radius: 50%;
}

.events a:hover{
    text-decoration: none;
}

.events .event-post{
    box-shadow: 1px 2px 5px #999;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
    transition: all .4s;
}

.events .event-post:hover{
    box-shadow: 2px 3px 16px #999;
    transform: translateY(-5px);
}

.events .eventName{
    text-decoration: none;
    font-weight: 600;
    font-size: 35px;
    color: black;
}

.events .eventName:hover{
    text-decoration: none;
    color: #01d262;
}

.events .tickets{
    margin-top: 4rem;
}

.events .btn{
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 0%;
}

.events img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.modal .cancelbtn{
    background-color: transparent;
    color: #01d262;
    border: 2px solid #01d262;
    transition: all .4s;
}

.modal .cancelbtn:hover{
    background-color: #01d262;
    color: whitesmoke;
}

.modal .exitbtn{
    background-color: #01d262;
    color: whitesmoke;
    transition: all .4s;
}

.modal .exitbtn:hover{
    background-color: transparent;
    color: #01d262;
    border: 1px solid #01d262;
}