body{
    font-family: 'Monteserrat', sans-serif;
    background-color: #eee;
}

/*Navbar*/
.sidebar{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url(../../images/sunset.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 7px 25px #999;
}

.navbar-brand img{
    height: 3.5rem;
    width: 3.5rem;
}

.bottom-border{
    border-bottom: 1px groove #eee;
}

.user{
    color: white;
    text-decoration: none;
}

.user:hover{
    text-decoration: none;
    color: whitesmoke;
}

.sidebar-link{
    transition: all .4s;
}

.sidebar-link:hover{
    background-color: #444;
    border-radius: 5px;
}

.current{
    background-color: #01a74f;
    border-radius: 7px;
    box-shadow: 2px 5px 10px #111;
    transition: all .4s;
}

.current:hover{
    background-color: #01d262;
    border-radius: 7px;
    box-shadow: 2px 5px 20px #111;
    transform: translateY(-1px);
}

.search-input{
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid whitesmoke;
    transition: all .4s;
}

.search-input:focus{
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #01d262;
    color: whitesmoke;
}

.search-button{
    border-radius: 50%;
    padding: 10px 16px;
    transition: all .4s;
}

.search-button:hover{
    background-color: #444;
    transform: translateY(-2px);
}

.icon-parent{
    position: relative;
}

.icon-bullet::after{
    content: "";
    position: absolute;
    top: 7px;
    left: 20px;
    height: 12px;
    width: 12px;
    background-color: #01d262;
    border-radius: 50%;
}

@media(max-width: 768px){
    .sidebar{
        position: static;
        height: auto;
    }
    
    .top-navbar{
        position: static;
    }
}

/*Cards*/
.card-common{
    box-shadow: 1px 2px 5px #999;
    transition: all .4s;
}

.card-common:hover{
    box-shadow: 2px 3px 16px #999;
    transform: translateY(-4px);
}

.card-common a{
    text-decoration: none;
    color: rgb(0, 0, 0,  0.59);
}

.card-common a:hover{
    color: green;
}

/*Users*/
.section-4 .btn:focus{
    box-shadow: none;
}

/*Events*/
.event{
    transition: all .4s;
}

.event:hover{
    transform: translateX(-4px);
}
.event-border{
    border-left: 5px solid #01d262;
}

.event .btn:focus{
    box-shadow: none;
}

/*Events*/
.events .heading-1{
    font-weight: 700;
}

.events a{
    border-radius: 50%;
}

.events a:hover{
    text-decoration: none;
}

.events .event-post{
    box-shadow: 1px 2px 5px #999;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
    transition: all .4s;
}

.events .event-post:hover{
    box-shadow: 2px 3px 16px #999;
    transform: translateY(-5px);
}

.events .eventName{
    text-decoration: none;
    font-weight: 600;
    font-size: 35px;
    color: black;
}

.events .eventName:hover{
    text-decoration: none;
    color: #01d262;
}

.events .tickets{
    margin-top: 4rem;
}

.events .btn{
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 0%;
}

.events .btn:focus{
    box-shadow: none;
}

.events img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.modal .cancelbtn{
    background-color: transparent;
    color: #01d262;
    border: 2px solid #01d262;
    transition: all .4s;
}

.modal .cancelbtn:hover{
    background-color: #01d262;
    color: whitesmoke;
}

.modal .exitbtn{
    background-color: #01d262;
    color: whitesmoke;
    transition: all .4s;
}

.modal .exitbtn:hover{
    background-color: transparent;
    color: #01d262;
    border: 1px solid #01d262;
}

/*Edit Event*/
.eventEdit .heading-section{
    background-color: #d5dadf;   
}

.eventEdit .path a{
    text-decoration: none;
    color: black;
}
.eventEdit .heading-1 a{
    color: black;
    text-decoration: none;
    transition: all .4s;
}

.eventEdit .heading-1 a:hover{
    color: #01d262;
    transform: translateY(-5px);
}

.eventEdit .menus a{
    color: black;
}

.eventEdit .menus .nav{
    margin-left: 16rem;
    border-bottom: none;
}

.eventEdit .menus .nav .active{
    border-top: 4px solid green;
    border-bottom: transparent;
    background-color: transparent;
    color: black;
}

.eventEdit .card{
    box-shadow: 1px 2px 10px #999;
}

.eventEdit .update{
    margin-bottom: 20rem;
}

.eventEdit input:focus{
    box-shadow: none;
    border-color: #01d262;
}

.eventEdit textarea:focus{
    box-shadow: none;
    border-color: #01d262;
}

.eventEdit .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventEdit .box {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, 0.1);
}

.eventEdit .images {
    height: 400px;
    bottom: 40px;
    overflow-y: auto;
}

.eventEdit .images img {
    width: 520px;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
    margin: 5px;
}

.eventEdit .button {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #01d262;
    color: #fff;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    font-family: "Helvetica Neue", sans-serif;
    cursor: pointer;
    transition: all .4s;
}

.eventEdit .button:hover{
    background-color: green;
}

/*Event Bookings*/
.eventBookings .rsvpTable{
    margin-left: 5rem;
}

.eventBookings .card{
    width: 35rem;
}

/*Add Event*/
.aboutEvent{
    height: 25rem;
}

.eventEdit .editor{
    height: 15rem;
}

/*Edit Email*/
.editEmail{
    margin-left: -5rem;
}

/*User Info*/
.userInfo .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInfo .box {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, 0.1);
}

.userInfo .images {
    height: 400px;
    bottom: 40px;
    overflow-y: auto;
}

.userInfo .images img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
    margin-left: 7.5rem;
}

.userInfo .button {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #01d262;
    color: #fff;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    font-family: "Helvetica Neue", sans-serif;
    cursor: pointer;
    transition: all .4s;
}

.userInfo .button:hover{
    background-color: green;
}


/*Add User*/
.addUser .heading-section{
    background-color: #d5dadf;   
}

.addUser .path a{
    text-decoration: none;
    color: black;
}
.addUser .heading-1 a{
    color: black;
    text-decoration: none;
    transition: all .4s;
}

.addUser .heading-1 a:hover{
    color: #01d262;
    transform: translateY(-5px);
}

.addUser input:focus{
    border-color: #01a74f;
    box-shadow: none;
}

.addUser .images img{
    margin-left: 9.5rem;
}

/*Blogs*/
.blogs .heading-1{
    font-weight: 700;
}

.blogs a{
    border-radius: 50%;
}

.blogs a:hover{
    text-decoration: none;
}

.blogs .blog-post{
    box-shadow: 1px 2px 5px #999;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
    transition: all .4s;
}

.blogs .blog-post:hover{
    box-shadow: 2px 3px 16px #999;
    transform: translateY(-5px);
}

.blogs .blogName{
    text-decoration: none;
    font-weight: 600;
    font-size: 35px;
    color: black;
}

.blogs .blogName:hover{
    text-decoration: none;
    color: #01d262;
}

.blogs .tickets{
    margin-top: 4rem;
}

.blogs .btn{
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: 0%;
}

.blogs .btn:focus{
    box-shadow: none;
}

.blogs img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.modal .cancelbtn{
    background-color: transparent;
    color: #01d262;
    border: 2px solid #01d262;
    transition: all .4s;
}

.modal .cancelbtn:hover{
    background-color: #01d262;
    color: whitesmoke;
}

.modal .exitbtn{
    background-color: #01d262;
    color: whitesmoke;
    transition: all .4s;
}

.modal .exitbtn:hover{
    background-color: transparent;
    color: #01d262;
    border: 1px solid #01d262;
}

.writeArticle{
    height: 60rem;
}

.editor{
    height: 50rem;
}

#editor{
    margin-bottom: 10rem;
}

/*Edit Event*/
.ourfinances .heading-section{
    background-color: #d5dadf;   
}

.ourfinances .path a{
    text-decoration: none;
    color: black;
}
.ourfinances .heading-1 a{
    color: black;
    text-decoration: none;
    transition: all .4s;
}

.ourfinances .heading-1 a:hover{
    color: #01d262;
    transform: translateY(-5px);
}

.ourfinances .menus a{
    color: black;
}

.ourfinances .menus .nav{
    margin-left: 15rem;
    border-bottom: none;
}

.ourfinances .menus .nav .active{
    border-top: 4px solid green;
    border-bottom: transparent;
    background-color: transparent;
    color: black;
}

.ourfinances .card{
    box-shadow: 1px 2px 10px #999;
}

.ourfinances .update{
    margin-bottom: 20rem;
}

.ourfinances input:focus{
    box-shadow: none;
    border-color: #01d262;
}

.ourfinances textarea:focus{
    box-shadow: none;
    border-color: #01d262;
}

.ourfinances .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourfinances .box {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, 0.1);
}

.ourfinances .images {
    height: 400px;
    bottom: 40px;
    overflow-y: auto;
}

.ourfinances .images img {
    width: 462px;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
    margin: 5px;
}

.ourfinances .button {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #01d262;
    color: #fff;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    font-family: "Helvetica Neue", sans-serif;
    cursor: pointer;
    transition: all .4s;
}

.ourfinances .button:hover{
    background-color: green;
}

.ourfinances .Message{
    height: 15rem;
}

.ourfinances .editor{
    height: 10rem;
}

.ourfinances .project-select:focus{
    box-shadow: none;
    border-color: green;
}

.ourfinances option:hover{
    background-color: #01d262 !important;
}

.ourfinances .projects a{
    color: whitesmoke;
}

.ourfinances .projects a:hover{
    text-decoration: none;
    color: #01d262;
}

.ourfinances .approveBtn{
    transition: all .4s;
}
.ourfinances .approveBtn:hover{
    background-color: #01a74f;
    border-color: #01a74f;
}

/*task list*/
.task-border{
    border-left: 3px solid #01a74f;
}

.btn-sm:focus{
    box-shadow: none;
}

/*Progress Bars*/
.progress .progress-bar{
    width: 0;
    transition: all ease 0.8s;
}

/*Add Article*/
.addArticle .heading-section{
    background-color: #d5dadf;   
}

.addArticle .path a{
    text-decoration: none;
    color: black;
}
.addArticle .heading-1 a{
    color: black;
    text-decoration: none;
    transition: all .4s;
}

.addArticle .heading-1 a:hover{
    color: #01d262;
    transform: translateY(-5px);
}

.addArticle .card{
    box-shadow: 1px 2px 10px #999;
}

.addArticle .upload{
    margin-bottom: 20rem;
}

.addArticle input:focus{
    box-shadow: none;
    border-color: #01d262;
}

.addArticle textarea:focus{
    box-shadow: none;
    border-color: #01d262;
}

.addArticle .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addArticle .box {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, 0.1);
}

.addArticle .images {
    height: 400px;
    bottom: 40px;
    overflow-y: auto;
}

.addArticle .images img {
    width: 520px;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
    margin: 5px;
}

.addArticle .button {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #01d262;
    color: #fff;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    font-family: "Helvetica Neue", sans-serif;
    cursor: pointer;
    transition: all .4s;
}

.addArticle .button:hover{
    background-color: green;
}

/*Article Details*/
.articleDetails .heading-section{
    background-color: #d5dadf;   
}

.articleDetails .path a{
    text-decoration: none;
    color: black;
}
.articleDetails .heading-1 a{
    color: black;
    text-decoration: none;
    transition: all .4s;
}

.articleDetails .heading-1 a:hover{
    color: #01d262;
    transform: translateY(-5px);
}

.articleDetails .card{
    box-shadow: 1px 2px 10px #999;
}

.articleDetails .update{
    margin-bottom: 20rem;
}

.articleDetails input:focus{
    box-shadow: none;
    border-color: #01d262;
}

.articleDetails textarea:focus{
    box-shadow: none;
    border-color: #01d262;
}

.articleDetails .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.articleDetails .box {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 2px 6px 15px 0 rgba(69, 65, 78, 0.1);
}

.articleDetails .images {
    height: 400px;
    bottom: 40px;
    overflow-y: auto;
}

.articleDetails .images img {
    width: 520px;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
    margin: 5px;
}

.articleDetails .button {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #01d262;
    color: #fff;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
    font-family: "Helvetica Neue", sans-serif;
    cursor: pointer;
    transition: all .4s;
}

.articleDetails .button:hover{
    background-color: green;
}

/*Reminder Email*/
.rsvpConfirmationEmail .Message{
    height: 20rem;
}

.userInfo .images img{
    margin-left: 9.5rem;
}